@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@100;200;300;400;500&display=swap');

:root {
    --main-red: #DC3522;
    --main-white: #BDC3C7;
    --main-grey: #374140;
    --main-darkgrey: #2A2C2B;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, opens sans condensed;
}

.navbar {
    display: flex;
    background-color: #DC3522;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .4);
    z-index: 10;
    height: 6vh;
    align-items: center;
}

.navbar ul {
    display: flex;
    margin: 0 1rem;

}

.navbar li {
    display: inline;

}

.navbar li:hover {
    background: var(--main-grey);
}

.navbar a {
    display: block;
    font-size: 1.5rem;
    color: var(--main-white);
    text-decoration: none;
    padding-right: 2rem;
    padding-left: 2rem;

}

.containerHeadPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.containerHeadPage h1 {
    color: var(--main-white);
    font-size: 4rem;
}

.containerHeadPage p {
    color: var(--main-red);
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
}

.containerWork {
    text-align: center;
    padding: 4rem 2rem;
    background-color: #516795;
}

.titleWork {
    color: var(--main-white);
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: .2rem solid var(--main-white);
    font-size: 2.5rem;
}

.work-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    
}

.item {
    background: var(--main-grey);
    border-radius: 2px;
    height: calc(100% - 6.8rem);
    width: 100%;
    object-fit: cover;
}

.item img {
    max-width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .7);
    border-radius: 2px;
}

.item h3 {
    font-weight: 300;
    padding-top: 5px;
}

.containerSubFooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--main-white);
    background-color: var(--main-grey);
    text-align: center;
    align-items: center;
    height: 70vh;
    width: 100%;
}

.titleSubFooter > h2 {
    font-size: 4rem;
}

.titleSubFooter p {
    font-style: italic;
    font-weight: 200;
    font-size: 1.1rem;
    padding-bottom: 15vh;
}

@media (max-width: 465px) {
    .titleSubFooter > h2 {
        display: none;
    }
}

.containerNetwork {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 980px;
    
}

.git:hover {
    transform: translateY(8px)
}

.containerNetwork img {
    width: 15%;
}

.git {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: transform .3s ease-out;
    width: 100%;
}

.git img {
    box-shadow: 1px 1px 100px rgba(0, 0, 0, .4);
}

.git p {
    padding-left: 3%;
    font-size: larger;
    text-shadow: 3px 3px 3px var(--main-darkgrey);
}

.br {
    height: .5vh;
    background-color: var(--main-red);
    box-shadow: 0 2px 0 rgba(0, 0, 0, .4);
}

.footer{
    display: flex;
    height: 7vh;
    background-color: var(--main-grey);
    color: var(--main-white);
    align-items: center;
    justify-content: center;
}